<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="gazebo_control_plugin">
        <gazebo>
            <plugin name="planar_move_controller" filename="libgazebo_ros_planar_move.so">
                <!-- 里程计和机器人基坐标系（可选，默认已匹配你的配置） -->
                <odometry_frame>odom</odometry_frame>
                <robot_base_frame>base_footprint</robot_base_frame>
                
                <!-- 发布频率（单位Hz） -->
                <publish_rate>10</publish_rate>
                
                <!-- 控制更新频率（可选，默认20Hz） -->
                <update_rate>20</update_rate>
                
                <!-- 是否发布里程计和TF（可选，默认true） -->
                <publish_odom>true</publish_odom>
                <publish_odom_tf>true</publish_odom_tf>
                
                <!-- 里程计协方差（可选，默认已有值） -->
                <covariance_x>0.00001</covariance_x>
                <covariance_y>0.00001</covariance_y>
                <covariance_yaw>0.001</covariance_yaw>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>
